{{ define "title" }}Welcome{{ end }}

<!-- The Styles that are in the head -->
{{ define "styles"}}
	<link href="/css/styles.css" ref="text/stylesheet" language="css/stylesheet">
{{ end }}


{{ define "header" }}
	<header>
		Header...
	</header>
{{ end }}



{{ define "content" }}
    <h1>Welcome</h1>

    <p>Content</p>
{{ end }}



{{ define "footer" }}
	<footer class="with-head">
		<section>
			footer.head
		</section>
		<section>
			footer.skirt
		</section>
	</footer>
{{ end }}



{{ define "scripts" }}
	<script src=""></script>
{{ end }}
